.shop-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-banner {
  margin-left: 100px;
}
.description {
  width: 80%;
}
.right-banner img {
  width: 800px;
}

@media only screen and (max-width: 480px) {
  .shop-container {
    flex-wrap: wrap;
  }
  .left-banner {
    width: 100%;
    margin-left: 0%;
    text-align: center;
  }
  .description{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
  }
}
